<footer class="footer bg-dark text-white py-5">
    <div class="container">
        <div class="row">
            <!-- First Section: Logo, Contact, and Address -->
            <div class="col-md-3 text-center mb-4">
                <img src="public/logo.png" alt="Star Kidz Hospital Logo" class="img-fluid mb-3 logo">
                <p>Star Kidz Hospital</p>
                <p>Phone: 0241 243 0530</p>
                <p>Email: <a href="mailto:info@starkidzhospital.com" class="text-white">info@starkidzhospital.com</a></p>
                <p>Address: Manmad Road, behind Hotel Parichay Nagar, Savedi, Ahilya Nagar, Maharashtra 414001</p>
            </div>

            <!-- Second Section: Quick Links -->
            <div class="col-md-3 text-center mb-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li class="nav-item"><a class="nav-link text-white" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="/about">About</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="/services">Services</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="/gallery">Gallery</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="/specialists">Specialists</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="/blog">Blog</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="/contact">Contact</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="/policies">Policy</a></li>
                </ul>
            </div>

            <!-- Third Section: Our Services -->
            <div class="col-md-3 text-center mb-4">
                <h5>Our Services</h5>
                <ul class="list-unstyled">
                    <li><a href="/services#cardiology" class="text-white">Cardiology</a></li>
                    <li><a href="/services#pediatrics" class="text-white">Pediatrics</a></li>
                    <li><a href="/services#surgery" class="text-white">Pediatric Surgery</a></li>
                    <li><a href="/services#emergency" class="text-white">Emergency Services</a></li>
                </ul>
            </div>

            <!-- Fourth Section: Social Media Icons -->
            <div class="col-md-3 text-center mb-4">
                <h5>Follow Us</h5>
                <a href="mailto:info@starkidzhospital.com" class="text-white me-3">
                    <i class="fas fa-envelope fa-2x"></i>
                </a>
                <a href="https://www.instagram.com/starkidz.childrenshospital/" class="text-white me-3" target="_blank">
                    <i class="fab fa-instagram fa-2x"></i>
                </a>
                <a href="https://www.facebook.com/p/Starkidz-Childrens-Hospital-100083413777202/" class="text-white" target="_blank">
                    <i class="fab fa-facebook fa-2x"></i>
                </a>
            </div>
        </div>

        <!-- Map Section -->
        <div class="row">
            <div class="col-md-12 text-center">
                <h5>Find Us On The Map</h5>
                <iframe 
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.5224891391586!2d74.7365230744599!3d19.117288151281327!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bdcf5cb906ab02b%3A0xe1b7fc60a9c9d5bd!2sStar%20Kidz%20Children%20Hospital!5e0!3m2!1sen!2sin!4v1710052483926!5m2!1sen!2sin" 
                    width="100%" 
                    height="300" 
                    style="border:0;" 
                    allowfullscreen="" 
                    loading="lazy">
                </iframe>
            </div>
        </div>

        <div class="text-center mt-4">
            <p>&copy; 2025 Star Kidz Hospital. All Rights Reserved.</p>
        </div>
    </div>
</footer>
